{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	{# LOGIN FORM #}

	 {# <section class="vh-100" style="background-color: #9A616D;">  #}
		 <div class="container py-3 h-100"> 
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card" style="border-radius: 1rem;">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-none d-md-block">
								<img src="img/login.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
							</div>
							<div class="col-md-6 col-lg-7 d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">

									<form
										method="post">

										{# Si y a une erreur #}
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}
										{# Si l'utilisateur est connecté #}
										{% if app.user %}
											<div class="mb-3">
												Vous êtes connecter en tant
												{{ app.user.userIdentifier }},
												<a href="{{ path('app_logout') }}">Deconnexion</a>
											</div>
										{% endif %}

										<div class="d-flex align-items-center mb-3 pb-1">
											<span class="fa-solid fa-car">
												HorizonCar</span>
										</div>

										<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez vous à votre compte</h5>

										<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
										<label for="inputMail">Mail</label>
										<input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" autocomplete="username" required autofocus>
										<label for="inputPassword">Password</label>
										<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> <br>

										<button class="btn btn-lg btn-primary" type="submit">
											Se connecter
										</button>

										<a class="small text-muted" href="#!">Mot de passe oublié</a>
										<p class="mb-5 pb-lg-2" style="color: #393f81;">Vous n'avez pas encore de compte ?
											<a href="{{ path('app_user_new') }}" style="color: #393f81;">S'inscrire</a>
										</p>
										<a href="#!" class="small text-muted">Terms of use.</a>
										<a href="#!" class="small text-muted">Privacy policy</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
