{% extends 'base.html.twig' %}

{% block title %}Nos vehicules{% endblock %}

{% block body %}
    <h1>Gestion du parc automobile</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                {# <th>Descriptions</th>
                <th>Kilometrage</th>
                <th>Circulation</th>
                <th>Carburant</th>
                <th>Images</th>#}
                <th>actions</th> 
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.nom }}</td>
                <td>{{ voiture.prix }}</td>
                {# <td>{{ voiture.descriptions }}</td>
                <td>{{ voiture.kilometrage }}</td>
                <td>{{ voiture.circulation }}</td>
                <td>{{ voiture.carburant }}</td>
                <td>{{ voiture.images }}</td> #}
                <td>
                    <a href="{{ path('app_voitures_edit', {'id': voiture.id}) }}" class="btn">Modifier</a> 
                    <a href="{{ path('app_voitures_show', {'id': voiture.id}) }}" class="btn">Voir le véhicule</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voitures_new') }}">Ajouter un véhicule</a>
{% endblock %}
