{% extends 'base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block body %}
    <h1>Gestion des produits</h1>



              <table class="table table-dark table-bordered mb-0">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">NomProduit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for product in products %}
                  <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.nomProduit }}</td>
                    <td>{{ product.prix }}</td>
                    <td>
                        <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn">Voir le produit</a> 
                        <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn">Modifier le produit</a> 
                    </td>
                  </tr> 
                 {% else %}
                    <tr>
                        <td colspan="6">Aucun produit n'a était trouver !</td>
                    </tr>    
                {% endfor %}
                </tbody>
              </table>
      
      <br>

      <a href="{{ path('app_products_new') }}" class="btn">Ajouter un nouveau produit</a>

{% endblock %}
