{% extends 'base.html.twig' %}

{% block title %}Acontacter index{% endblock %}

{% block body %}
    <h1>Acontacter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acontacter in acontacters %}
            <tr>
                <td>{{ acontacter.id }}</td>
                <td>{{ acontacter.Mail }}</td>
                <td>{{ acontacter.Tel }}</td>
                <td>
                    <a href="{{ path('app_acontacter_show', {'id': acontacter.id}) }}">Voir le message</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin') }}">Dashboard</a>
{% endblock %}
