<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	 	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<title>
			{% block title %}HorizonCar
			{% endblock %}
		</title>

		<link rel="icon"   <i class="fa-solid fa-car">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/_variables.scss">
			<link rel="stylesheet" href="path/to/atropos.css" />
			<link rel="stylesheet" href="/assets/styles/style.css">
			<link rel="stylesheet" href="/style.css"> 

		{% endblock %}

		{% block javascripts %}
		<script src="https://kit.fontawesome.com/f25d326f0c.js" crossorigin="anonymous"></script>
			{{ encore_entry_script_tags('app') }}
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous" ></script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		{% block navbar %}	

    <nav class="navbar-expand-lg bg-white navbar-light p-3 shadow-sm">
      <div class="container">
        <a class="navbar-brand logo" href="{{ path('home') }}"><i class="fa-solid fa-car"></i> <strong>Horizon<span>Car</span> </strong></a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
          <div class="input-group">
            <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control border-warning" style="color:#7a7a7a">
            <button class="btn btn-warning text-white">Search</button>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class=" d-none d-lg-block">
            <div class="input-group">
              <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
              <input type="text" class="form-control">
              <button class="btn text-white">Search</button>
            </div>
          </div>
          <ul class="navbar-nav ms-auto ">

            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="{{ path('vehicules') }}">Vehicules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="{{ path('app_apropos') }}">A Propos</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="{{ path('app_contact_new') }}">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
			{% if app.user %}
              <a class="nav-link mx-2 text-uppercase" href="{{ path('app_panier')}}"><i class="fa-solid fa-cart-shopping me-1">{{app.session.get('panier').getSales() | length}}</i></a>
            </li>
			{% else %}
			<a class="nav-link mx-2 text-uppercase" href="{{ path('app_login') }}"><i class="fa-solid fa-cart-shopping me-1">{{app.session.get('panier') | length}}</i></a>
			{% endif %}
            <li class="nav-item">

		{# Href conditionelle si l'utilisateur est connecter le chemin est différent #}
			{% if app.user %}
              <a class="nav-link mx-2 text-uppercase" 			  
			  href="{{ path('app_user_show', {id: app.user.id}) }}">
			  <i class="fa-solid fa-circle-user me-1"></i></a>
			{% else %}
				<a class="nav-link mx-2 text-uppercase" 			  
			  href="{{ path('app_login') }}">
			  <i class="fa-solid fa-circle-user me-1"></i></a>
			{% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
	{% endblock %}

    {# FIN NAVBAR #}

    {% block body %}
    {% endblock %}
          
    {% block sectionHome %}         
    {% endblock %}

	{% block header %}
    {% endblock %}

    {% block form %}
    {% endblock %}

	{% block detail %}
    {% endblock %}

	{% block contact %}
    {% endblock %}
	
      {# FOOTER #}

    {% block footer %}

	    <!--footer-->
	      <section class="footer">
		<div class="footer-container container">
			<div class="footer-box">
				<a href="#" class="logo"> <i class="fa-solid fa-car"></i> Horizon<span>Car</span>
				</a>
				<div class="social">
					<a href="#">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-x-twitter"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-instagram"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</div>
			</div>
	
			<div class="footer-box">
				<h3>Page</h3>
				<a href="{{ path('home') }}">Accueil</a>
				<a href="{{ path('vehicules') }}">Nos voitures</a>
				<a class="text-white-50" href="#">Ma commande</a>
			</div>

			<div class="footer-box">
				<h3>Legal</h3>
				<a href="#">Privacy</a>
			</div>

			<div class="footer-box">
				<h3>Contact</h3>
                <p>04 54 08 09 92</p>
			</div>
		</div>

		
	      </section>
	
	<!--Copyright-->
	    <div class="copyright">
		    <p>&#169; HorizonCar</p>
	    </div>
      {% endblock %}

	</body>
</html>
