{% extends 'base.html.twig' %}



{% block title %}Nos vehicules
{% endblock %}

{% block body %}

		<div class="heading2 py-3">
			<h2>Plongez dans notre vaste sélection de véhicules !</h2>
			<p>HorizonCar, commandez et financez votre voiture entièrement en ligne et faites-vous livrer à domicile ou dans l'une de nos concessions.</p>
		</div>

		{# FILTRE DE RECHERCHE #}


		 {# test nouvelle card #}

		 <div class="parts-container container">
			<!--Box 1-->
		{% for vehicule in vehicules %}
			<div class="boxcar">
				<img src="{{ vehicule.images }}" class="" alt="...">
				<h5>{{vehicule.nom}}</h5>
				<span>{{vehicule.prix}}</span>
				<ul class="list-group list-group-flush">
						<li class="list-group-item">Mise en circulation:
						{{vehicule.circulation}}</li> 
						<li class="list-group-item">Kilométrages:
						{{vehicule.Kilometrage}}</li>
						<li class="list-group-item">Carburant:
						{{vehicule.Carburant}}</li>  
				</ul>
                <br>
				<a href="#" class="btn">En savoir plus</a>
				{# <a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a> #}

			</div>
		{% endfor %}
		</div>






		{# Ancienne car 
		
				<div class="">
						{% for vehicule in vehicules %}
							<div class="card" style="width: 30rem;">
								<img src="{{ vehicule.images }}" class="card-img-top" alt="...">
								<div class="card-body">
									  <h5 class="card-title">{{vehicule.nom}}</h5> 
									  <h6 class="card-subtitle mb-2 text-muted">{{vehicule.prix}}</h6> 
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Mise en circulation:
											{{vehicule.circulation}}</li> 
										<li class="list-group-item">Kilométrage:
											{{vehicule.Kilometrage}}</li>
										 <li class="list-group-item">Carburant:
											{{vehicule.Carburant}}</li>  
									</ul>
									<a href="#" class="btn mr-2">
										<i class="fa-solid fa-eye"></i>
										Voir
									</a>
									<a href="#" class="btn">
										<i class="fa-solid fa-phone"></i>
										Contact
									</a>
								</div>
							</div>
						{% endfor %}


			</div>

		
		
		
		
		
		
		
		
		
		 #}
	 

	 
{% endblock %}