{% extends 'base.html.twig' %}



{% block title %}Chevrolet
{% endblock %}

{% block body %}

		<div class="heading2 py-3">
			<h2>Desirez vous d'une Chevrolet ? 😎</h2>
			<p>Trouvez votre Chevrolet de rêve chez nous et laissez-nous concrétiser vos rêves automobiles.</p>
		</div>

		{# FILTRE DE RECHERCHE #}


		 {# test nouvelle card #}

		 <div class="parts-container container">
			<!--Box 1-->
		{% for Chevrolet in Chevrolet %}
			<div class="boxcar">
				<div class="imagecar">
				<img src="{{ Chevrolet.images }}" class="" alt="...">
				</div>
				<h5>{{Chevrolet.nom}}</h5>
				<span>{{Chevrolet.prix}}</span>
				<div class="">
						<li class="">Mise en circulation: 
						{{Chevrolet.circulation}}</li> 
						<li class="">Kilométrages:
						{{Chevrolet.Kilometrage}}</li>
						<li class="">Carburant:
						{{Chevrolet.Carburant}}</li>  
				</div>
                <br>
				<a href="{{ path ('app_voitures_show', {id: Chevrolet.id} )}}" class="btn" id="btnveh">En savoir plus</a>
				{# <a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a> #}

			</div>
		{% endfor %}
		</div>

{% endblock %}