{% extends 'base.html.twig' %}

{% block title %}Nos commandes{% endblock %}

{% block body %}
    <h1>Gestion des commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Postal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.Nom }}</td>
                <td>{{ commande.Prenom }}</td>
                <td>{{ commande.Email }}</td>
                <td>{{ commande.Adresse }}</td>
                <td>{{ commande.postal }}</td>
                <td>
                    <a href="{{ path('app_commandes_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commandes_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commandes_new') }}">Create new</a>
{% endblock %}
