{% extends "base.html.twig" %}

{% block form %}


    <h1>inscription</h1>

<div>

{{form_start(form) }}
    <form>


  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    {# <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> #}
        {{form_widget(form.email, {
            'attr': {
                'class': 'form-control'
            }
        })}}

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    {# <input type="password" class="form-control" id="exampleInputPassword1"> #}
         {{form_widget(form.password, {
            'attr': {
                'class': 'form-control'
            }
        })}}
  </div>
  
        {{form_widget(form.submit, {
            'attr': {
                'class': 'btn btn-primary'
            }
        })}}
  
</form>

{{form_end(form)}}
</div>
{% endblock %}