
{% block body %}

<div class="container bootstrap snippets bootdey p-5"> 
       
{{ form_start(form) }}
 <h5>Voulez-vous modifier votre profil ?</h5>
 <br>

	 {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Appliquer') }}</button>

{{ form_end(form) }}
</div>    







        {# <h5>Voulez-vous modifier votre profil ?</h5>
        <br>

                    <div class="tab-pane" id="tab2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                
    
                                            {{ form_start(form) }}
                                            {{ form_widget(form) }}
                                            <br>                           
                                             <a class="btn" href="{{ path('app_user_edit', {id: user.id}) }}">Appliquer</a>
                                            <br>
                                            {{ form_end(form) }}

                                 
                            </div>
                        </div>
                    </div> #}


{% endblock %}
